<h1>Welcome!</h1><br><br><br>



<!DOCTYPE html>
<html>
<body>
<div class="container">
  <font color="red"><h3>Welcome to your Luxury Closet Organizer!</h3></font>
  <b><p>The Luxury Closet Organizer App lets you keep track of, manage and browse your closet full of designer shoes and handbags.  Search for items using filters like Designer Name, Style of Item, and color.
   As someone who loves to keep their prized possessions organized, I hope you enjoy this app as much as I do!
   To get started, simply log in or sign up below.</p></b>
 
</div>
</body>
</html>
