 Welcome <%= @user.username%>!
 <h1>You have signed in!</h1>






 <% if current_user %>
      <%= link_to "Your Shoe Entries", shoes_path %>
      <%= link_to "Your Handbag Entries", handbags_path %>
    <% end %>
