<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./app/assets/imagesParis.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Stock Market App
  </a>
</nav>

<%= link_to "Home", root_path %>
<%= link_to "About Us", home_about_path %>
