<%= link_to "Your Shoe Entries", shoes_path %>
<%= link_to "Your Handbag Entries", handbags_path %>



<h1>All Your Shoes!</h1>

<%= link_to "New Shoe Entry", 'shoes/new' %><br>
<%= link_to "Log Out", logout_path, method: :delete %>
